<!DOCTYPE html>
<html lang="ja" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TalkEventCreator</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <canvas id="nodeEditor"></canvas>
        <div id="prop">
            <div>control</div>
            <button v-on:click="addMessageNode">AddMessageNode</button>
            <button v-on:click="addBranchNode">AddBranchNode</button>
            <button v-on:click="addEventNode">AddEventNode</button>
            <HR>
            <div>{{ selected_node_type }}</div>
            <div>[{{ selected_node_uuid }}]</div>
            <template v-if="selected_node_type === 'message'">
                Text:
                <textarea class="text_area" v-model="message_node_text" @input="changeMessage"></textarea>
            </template>
            <template v-if="selected_node_type === 'branch'">
                <div v-for="n in 4">
                    {{ n }}
                    <textarea class="text_area" v-model="branch_node_choices[n-1]" @input="changeChoices"></textarea>
                </div>
            </template>
            <template v-if="selected_node_type === 'event'">
                event
            </template>
            <button v-on:click="deleteNode">deleteNode</button>
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>