#prop {
    position: fixed;
    width: 300px;
    height: 100%;
    right: 10px;
    top: 10px;
    overflow-y: scroll;
    text-align: center;
    background-color: lavender;
}

#i-o {
    position: fixed;
    top: 10px;
    left: 10px;
}

.text_area {
    width: 95%;
    height: 60px;
}

#scale-controller {
    position: fixed;
    right: 40px;
    bottom: 10px;
}

#manip-controller {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

#node-delete-button {
    position: fixed;
    bottom: 40px;
    right: 200px;
}

#nodeEditor {
}